<div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 0.55%" aria-valuenow="0.55" aria-valuemin="0" aria-valuemax="100">0.55% - New</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 17.36%" aria-valuenow="17.36" aria-valuemin="0" aria-valuemax="100">17.36% - On Cust</div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 3.58%" aria-valuenow="3.58" aria-valuemin="0" aria-valuemax="100">3.58% - On Perforce</div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: 78.51%" aria-valuenow="78.51" aria-valuemin="0" aria-valuemax="100">78.51% - Pending Fix</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Status</th>
			<th scope="col">Count</th>
			<th scope="col">Perc %</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td class="bg-warning">New</td>
			<td class="bg-warning">2</td>
			<td class="bg-warning">0.55 %</td>
		</tr>

		<tr>
			<td class="bg-success">On Cust</td>
			<td class="bg-success">63</td>
			<td class="bg-success">17.36 %</td>
		</tr>

		<tr>
			<td class="bg-danger">On Perforce</td>
			<td class="bg-danger">13</td>
			<td class="bg-danger">3.58 %</td>
		</tr>

		<tr>
			<td class="bg-info">Pending Fix</td>
			<td class="bg-info">285</td>
			<td class="bg-info">78.51 %</td>
		</tr>

	</tbody>
</table>
