{% extends "base.html.jinja2" %}

{% block content %}
<!--
Page content
-->
<h1>Page content</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    This is a Header
                </div>
                <img src="https://cdn.pixabay.com/photo/2020/08/05/19/07/pedestrian-bridge-5466182__340.jpg">
                <div class="card-body">
                    <h4 class="card-title">This is a Title</h4>
                    <p class="card-text">This is a simple text</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    This is a Header
                </div>
                <img src="https://cdn.pixabay.com/photo/2020/08/05/19/07/pedestrian-bridge-5466182__340.jpg">
                <div class="card-body">
                    <h4 class="card-title">This is a Title</h4>
                    <p class="card-text">This is a simple text</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    This is a Header
                </div>
                <img src="https://cdn.pixabay.com/photo/2020/08/05/19/07/pedestrian-bridge-5466182__340.jpg">
                <div class="card-body">
                    <h4 class="card-title">This is a Title</h4>
                    <p class="card-text">This is a simple text</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    This is a Header
                </div>
                <img src="https://cdn.pixabay.com/photo/2020/08/05/19/07/pedestrian-bridge-5466182__340.jpg">
                <div class="card-body">
                    <h4 class="card-title">This is a Title</h4>
                    <p class="card-text">This is a simple text</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
