{% extends "base.html.jinja2" %}

{% block content %}
<!--
Page content
-->

<div class="container">
{% for row in settings_list                                                                                                       %}
{% set row_n = row['row']                                                                                                         %}
{% set row_size = row['size']                                                                                                     %}
{% set row_widgets_list = row['widgets']                                                                                          %}
    <div class="row">
{%     for wg in row_widgets_list                                                                                                 %}
{%         set title = wg['title']                                                                                                %}
{%         set width = wg['width']                                                                                                %}
{%         set height = wg['height']                                                                                              %}
{%         set size = wg['size']                                                                                                  %}
{%         set module = wg['module']                                                                                              %}
{%         set data = wg['module']|read_data                                                                                 %}
{%         if row_size == "flex"                                                                                                  %}
{%             set wg_width = ""                                                                                                  %}
{%         else                                                                                                                   %}
{%             set wg_width = "-lg-" + width|string                                                                               %}
{%         endif                                                                                                                  %}
        <div class="col{{ wg_width }}" id="{{ module }}">
            <div class="card">
                <div class="card-header">
                    {{ title }} <span class="badge bg-secondary lastupdate" id="{{ module }}_lastupdate">{{ data[1]|safe }}</span>
                </div>
                <div class="card-body">
                    <div class="card-text" id="{{ module }}_cardtext">{{ data[0]|safe }}</div>
                </div>
            </div>
        </div>
{%     endfor                                                                                                                     %}
    </div>
{% endfor                                                                                                                         %}

</div>
{% endblock content %}
